In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [8]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [9]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,160.639,8.708,19011
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,137.689,8.705,25003
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,82.973,8.590,11477
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,83.051,8.571,14816
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,44.336,8.546,4283

In [ ]:
df = pd.DataFrame()

In [ ]:
for i in range(1,42):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [ ]:
df

In [ ]:
df.shape