In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('placement.csv')

In [4]:
df.sample(5)

     cgpa  placement_exam_marks  placed
483  7.93                  25.0       0
599  7.02                  55.0       0
968  6.84                  26.0       0
308  7.20                  47.0       1
278  5.23                  17.0       1

In [ ]:
plt.figure(figsize=(16,5))
plt.subplot(1,2,1)
sns.distplot(df['cgpa'])

plt.subplot(1,2,2)
sns.distplot(df['placement_exam_marks'])

plt.show()

In [7]:
df.shape

(1000, 3)

In [11]:
print('Mean value of cgpa is', df['cgpa'].mean())
print('std value of cgpa is', df['cgpa'].std())
print('Min value of cgpa is', df['cgpa'].min())
print('Max value of cgpa is', df['cgpa'].max())

Mean value of cgpa is 6.96124
std value of cgpa is 0.6158978751323894
Min value of cgpa is 4.89
Max value of cgpa is 9.12

In [13]:
# Finding the boundary values
print('Highest allowed', df['cgpa'].mean()+3*df['cgpa'].std())
print('lowest allowed', df['cgpa'].mean()-3*df['cgpa'].std())

Highest allowed 8.808933625397168
lowest allowed 5.113546374602832

In [15]:
# finding the outliers
df[(df['cgpa']>8.808) | (df['cgpa']<5.113)]

     cgpa  placement_exam_marks  placed
485  4.92                  44.0       1
995  8.87                  44.0       1
996  9.12                  65.0       1
997  4.89                  34.0       0
999  4.90                  10.0       1

# Trimming

In [20]:
#Approach 1
new_df=df[(df['cgpa']<8.808) & (df['cgpa']>5.113)]

In [21]:
new_df.shape

(995, 3)

In [22]:
new_df.sample(5)

     cgpa  placement_exam_marks  placed
270  6.80                  16.0       1
893  7.07                  32.0       1
872  6.95                  54.0       0
959  6.76                  27.0       1
715  7.41                  17.0       1

In [24]:
# Approach 2
# Calculating Zscore

df['cgpa_Zscore']=(df['cgpa'] - df['cgpa'].mean())/df['cgpa'].std()

In [25]:
df.head()

   cgpa  placement_exam_marks  placed  cgpa_Zscore
0  7.19                  26.0       1     0.371425
1  7.46                  38.0       1     0.809810
2  7.54                  40.0       1     0.939701
3  6.42                   8.0       1    -0.878782
4  7.23                  17.0       0     0.436371

In [28]:
df[df['cgpa_Zscore']>3]

     cgpa  placement_exam_marks  placed  cgpa_Zscore
995  8.87                  44.0       1     3.099150
996  9.12                  65.0       1     3.505062

In [29]:
df[df['cgpa_Zscore']<-3]

     cgpa  placement_exam_marks  placed  cgpa_Zscore
485  4.92                  44.0       1    -3.314251
997  4.89                  34.0       0    -3.362960
999  4.90                  10.0       1    -3.346724

In [30]:
df[(df['cgpa_Zscore']>3) | (df['cgpa_Zscore']< -3)]

     cgpa  placement_exam_marks  placed  cgpa_Zscore
485  4.92                  44.0       1    -3.314251
995  8.87                  44.0       1     3.099150
996  9.12                  65.0       1     3.505062
997  4.89                  34.0       0    -3.362960
999  4.90                  10.0       1    -3.346724

# Capping

In [34]:
upper_limit=df['cgpa'].mean() + 3*df['cgpa'].std()
lower_limit=df['cgpa'].mean() - 3*df['cgpa'].std()

In [35]:
lower_limit

5.113546374602832

In [36]:
upper_limit

8.808933625397168

In [37]:
df['cgpa'] = np.where(
    df['cgpa']>upper_limit,
    upper_limit,
    np.where(
        df['cgpa']<lower_limit,
        lower_limit,
        df['cgpa']
    )
)

In [38]:
df.shape

(1000, 4)